	  @font-face {
		font-family: Delicious-Heavy;
		src: url("fonts/Delicious-Heavy.otf") format("opentype");
		}
			  @font-face {
		font-family: Delicious;
		src: url("fonts/Delicious-Roman.otf") format("opentype");
		} 

 html, body, #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
		
      }

	  	@media only screen and (max-width: 600px) {
			
			#map-canvas {
				height: 60%;
			}
		}
	  
	  article{
		max-width:1080px;
		width:100%;
		margin-left:auto;
		margin-right:auto;
		font-size :1.3em;
		height:60%;
	  }
	
	@media only screen and (max-width: 1080px) {
		article {
			width:90%;
		}
	}
	
	  
	  
	  h1 {

		padding: 20px;
		margin: 0px;
		background-color: black;
		text-shadow: 2px 2px 3px #ababab;
		font-size: 4.5em;
		margin-left: auto;
		margin-right: auto;
		max-width: 1080px;
		
	  }
	  
	  h2 {
	  		font-size: 3em;
			padding: 20px;
			text-shadow: 2px 2px 3px #ababab;
			margin:0px;
			margin-top: 20px;
	  }
	  
	header{
	  	width:100%;
		background-color:black;
		color: white;
		font-family: Delicious;
	  }
	  
	  
	  header.gameHeader {
			border-top-left-radius: 20px;
			border-top-right-radius: 20px;
	  }
	  
	  .textSection{
		font-family: Delicious;
		background-color:black;
		color:white;
		padding:20px;
		border-bottom-left-radius: 20px;
		border-bottom-right-radius: 20px;
	  }
	  
	  .textSection input{
		background-color:black;
		color: white;
		font-family: Delicious;
		font-size:1.3em;
	  }
	  
	   select{
		background-color:black;
		color: white;
		font-family: Delicious;
		font-size:1.3em;
	  }
	  
	  .btn {
		  background: #6b6b6b;
		  background-image: -webkit-linear-gradient(top, #6b6b6b, #323333);
		  background-image: -moz-linear-gradient(top, #6b6b6b, #323333);
		  background-image: -ms-linear-gradient(top, #6b6b6b, #323333);
		  background-image: -o-linear-gradient(top, #6b6b6b, #323333);
		  background-image: linear-gradient(to bottom, #6b6b6b, #323333);
		  -webkit-border-radius: 28;
		  -moz-border-radius: 28;
		  border-radius: 28px;
		  text-shadow: 1px 1px 3px #0f0f0f;
		  font-family: Delicious;
		  color: #ffffff;
		  padding: 10px 10px 10px 10px;
		  text-decoration: none;
		  font-size:1.1em;
		}

		.btn:hover {
		  background: #cfcfcf;
		  background-image: -webkit-linear-gradient(top, #cfcfcf, #8a8a8a);
		  background-image: -moz-linear-gradient(top, #cfcfcf, #8a8a8a);
		  background-image: -ms-linear-gradient(top, #cfcfcf, #8a8a8a);
		  background-image: -o-linear-gradient(top, #cfcfcf, #8a8a8a);
		  background-image: linear-gradient(to bottom, #cfcfcf, #8a8a8a);
		  text-decoration: none;
		}
	  

	
	
		a[href^="http://maps.google.com/maps"]{display:none !important}

		.gmnoprint a, .gmnoprint span {
			display:none;
		}
		.gmnoprint div {
			background:none !important;
		}
		
		.gm-style-cc{
			display:none;
		}
		
		#content {
			padding: 0 !important; 
			position : absolute !important; 
			top : 0 !important; 
			right : 0 !important; 
			bottom : 40px !important;  
			left : 0 !important;     
		}
		
	#pano img {
		border: none !important;
		max-width: none !important;
	}
	
	#svgHeart{
		width: 80px;
		height: 80px;
		vertical-align: bottom;	
		float:right;	
		margin-left: -50px;
		margin-top: -30px;		
	}